.home{
    margin: 2em 0 0 0;
    background: var(--text-nav-tertiary);
    background: linear-gradient(135deg,rgba(59, 130, 246, 1) 0%, rgba(249, 115, 22, 1) 100%);   
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 16px;
}

.projectGrid {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2em 0 0 0;
}