@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

.sectionTrabalho {
    background: linear-gradient(135deg,rgba(59, 130, 246, 1) 0%, rgba(249, 115, 22, 1) 100%);
    padding: 6rem 0;
}

.container {
    display: grid;
    grid-template-rows: repeat(2, auto);  /* Sempre 2 linhas */
    grid-auto-flow: column;               /* Preenche colunas automaticamente */
    grid-auto-columns: 1fr;               /* Largura das colunas */
    gap: 2rem;

    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-nav);
    color: var(--text-nav-secundary);
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    position: relative;
    padding: 4rem 0 0 0;
    background: transparent;
}

.profileWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.profilePhotoOuter {
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 20rem;
    background: linear-gradient(to bottom right, #f97316, #3b82f6);
    padding: 0.25rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.profilePhotoInner {
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    background-color: #d1d5db; /* gray-300 */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    color: var(--text-nav-primary);
}

.profileImage {
    width: 100%;
    height: 100%;
}

.profileImageDois {
    width: 100%;
    height: 100%;
}

.cardContent {
    text-align: left;
    background-color: var(--text-nav-secundary);
    padding: 0.5rem 0 1rem 1rem;
}
.cardContentDois {
    text-align: left;
    background-color: var(--text-nav-secundary);
    margin-top: -2rem;
    padding: 0.5rem 0 1rem 1rem;
}

.cardTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    color: var(--text-nav-primary);
}

.cardDescription {
    font-size: 1rem;
    color: var(--bg-nav);
    margin-top: 4px;
}