.card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background: white;
  border: 1px solid rgba(248, 17, 0, 0.38);
}

.cardHeader {
  padding: 1rem;
}

.cardContent {
  padding: 0 1rem 1rem 1rem;
}

.cardFooter {
  padding: 1rem;
  border-top: 1px solid #f3f4f6;
}
